#chat {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 60%;
    min-width: 300px;
    max-width: 1000px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    transition: max-height 250ms ease-out;
    background: #E6EAEA;
    z-index: 400;
    display: flex;
    flex-direction: row;
}

#chat.extend {
    height: 60vh;
    min-height: 200px;
    max-height: 720px;
    transition: max-height 250ms ease-out;
}

#chat:not(.extend) {
    min-width: 120px;
    max-width: 300px;
}

#chat:not(.extend) .content {
    display: none;
}

#chat:not(.extend) #sidepanel #profile {
    display: none;
}

#chat.extend #head {
    display: none;
}

@media screen and (max-width: 360px) {
    #chat {
        width: 100%;
        height: 100vh;
    }
}

#chat #sidepanel {
    flex: 1;
    height: 100%;
    background: #2c3e50;
    color: #f5f5f5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 735px) {
    #chat #sidepanel {
        width: 58px;
        min-width: 58px;
    }
}
#chat #sidepanel #head {

}
#chat #sidepanel #head div {
    display: flex;
    height: 100%;
    width: 100;
    cursor: pointer;
    justify-content: space-around;
}
#chat #sidepanel #head div {
    margin-top: 10px;
}
#chat #sidepanel #profile {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    margin-left: 1em;
    margin-right: 1em;
}
#chat #sidepanel #profile .close_btt {
    margin-left: 0;
    font-weight: normal;
    color: white;
    position: relative;
}
@media screen and (max-width: 735px) {
    #chat #sidepanel #profile {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0 0;
        background: #32465a;
    }
}
#chat #sidepanel #profile .wrap {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
}
@media screen and (max-width: 735px) {
    #chat #sidepanel #profile .wrap {
        height: 55px;
    }
}
#chat #sidepanel #profile .wrap p {
    float: left;
    margin-left: 15px;
}
@media screen and (max-width: 735px) {
    #chat #sidepanel #profile .wrap p {
        display: none;
    }
}
#chat #sidepanel #contacts {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
@media screen and (max-width: 735px) {
    #chat #sidepanel #contacts::-webkit-scrollbar {
        display: none;
    }
}
#chat #sidepanel #contacts {
    list-style: none;
    padding-left: 0;
    height: 100%;
}
#chat #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #2c3e50;
}
#chat #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #243140;
}
#chat #sidepanel #contacts li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
}
@media screen and (max-width: 735px) {
    #chat #sidepanel #contacts li.contact {
        padding: 6px 0 46px 8px;
    }
}
#chat #sidepanel #contacts li.contact:hover {
    background: #32465a;
}
#chat #sidepanel #contacts li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
}
#chat #sidepanel #contacts li.contact.active span.contact-status {
    border: 2px solid #32465a !important;
}
#chat #sidepanel #contacts li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width: 735px) {
    #chat #sidepanel #contacts li.contact .wrap {
        width: 100%;
    }
}
#chat #sidepanel #contacts li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background: #95a5a6;
}
#chat #sidepanel #contacts li.contact .wrap span.online {
    background: #2ecc71;
}
#chat #sidepanel #contacts li.contact .wrap span.away {
    background: #f1c40f;
}
#chat #sidepanel #contacts li.contact .wrap span.busy {
    background: #e74c3c;
}
#chat #sidepanel #contacts li.contact .wrap .meta {
    padding: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
    #chat #sidepanel #contacts li.contact .wrap .meta {
        display: none;
    }
}
#chat #sidepanel #contacts li.contact .wrap .meta .name {
    font-weight: 600;
}
#chat #sidepanel #contacts li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}
#chat #sidepanel #contacts li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5;
}
#chat .content {
    flex: 2;
    height: 100%;
    overflow: hidden;
    position: relative;
}
@media screen and (max-width: 735px) {
    #chat .content {
        width: calc(100% - 58px);
        min-width: 300px !important;
    }
}
@media screen and (min-width: 900px) {
    #chat .content {
        width: calc(100% - 340px);
    }
}
#chat .content .contact-profile {
    width: 100%;
    height: 60px;
    display: flex;
    background: #f5f5f5;
    align-items: center;
    padding: .5em 3em;
}
#chat .content .contact-profile span {
    width: 100%;
}
#chat .content .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 3em;
    padding-right: 3em;
    margin: 0;
}
@media screen and (max-width: 735px) {
    #chat .content .messages {
        max-height: calc(100% - 105px);
    }
}
#chat .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
#chat .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
#chat .content .messages li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 5px 0 5px 0;
    width: calc(100% - 25px);
    font-size: 0.9em;
}
#chat .content .messages li:nth-last-child(1) {
    margin-bottom: 20px;
}
#chat .content .messages li.sent p {
    background: #435f7a;
    color: #f5f5f5;
}
#chat .content .messages li.replies p {
    background: #f5f5f5;
    float: right;
}
#chat .content .messages li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
    margin: 0;
}
@media screen and (min-width: 735px) {
    #chat .content .messages li p {
        max-width: 300px;
    }
}
#chat .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}
#chat .content .message-input .wrap {
    position: relative;
    border-top: 2px solid #2c3e50;
    display: flex;
}
#chat .content .message-input .wrap textarea {
    flex: 5;
    border: none;
    padding: 11px 32px 10px 8px;
    font-size: 1em;
    color: #32465a;
}
@media screen and (max-width: 735px) {
    #chat .content .message-input .wrap textarea {
        padding: 15px 32px 16px 8px;
    }
}
#chat .content .message-input .wrap textarea:focus {
    outline: none;
}
#chat .content .message-input .wrap button {
    flex: 1;
    max-width: 50px;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}
@media screen and (max-width: 735px) {
    #chat .content .message-input .wrap button {
        padding: 16px 0;
    }
}
#chat .content .message-input .wrap button:hover {
    background: #435f7a;
}
#chat .content .message-input .wrap button:focus {
    outline: none;
}